h1 {
    color: brown;
    text-align: center;
}

body {
    background-color: aliceblue;
}

section {
    font-size: 1em;
    text-indent: 1em;
    font-family: "휴먼편지체";

    background-color: pink;
    width: 400px;


}

span {
    color: blue;
    font-family: "고딕체";
}

footer {
    background-color: orange;
    border-radius: 50px 50px 50px 50px;
    font-size: 1em;
    font-family: "휴먼편지체"
}